<!DOCTYPE html>
<html>
  <head lang='en'>
    <meta charset='utf-8' />
    <title>Success Page</title>
  </head>
  <body>
     {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
        <h2 class="flash">{{ message }}</h2>
      {% endfor %}
      {% endif %}
      {% endwith %}
    <h1>EMAILS</h1>
    {% for email in emails: %}
      <form action='/delete' method='post'>
      <p>{{ email['email'] }} {{ email['created_at'].strftime('%m/%d/%y %I:%M%p') }} <button name='delete' value={{ email['id'] }} >Delete Me!   </button>
      </form>
    {% endfor %}
  </body>
</html>
